<form method="post">
    <input type="hidden" value="{{ refuge.id }}" name="id">
    <input type="text" value="{{ refuge.name }}" name="name">
    <input type="text" value="{{ refuge.address }}" name="address">
    <input type="submit" value="Valider">
</form>
