{% extends 'layout.html.twig' %}

{% block content %}
    <p>{{ refuge.id }}. {{ refuge.name }}</p>
    <a href="/refuge/edit/{{ refuge.id }}">Edit</a>
    <a href="/refuge/delete/{{refuge.id}}">Supprimer</a>
    <a href="/refuge/index">Back</a>
{% endblock %}
